matplotlib>=3.10.9
xarray>=2026.4.0
numpy>=2.4.6
pandas>=3.0.3
intake>=2.0.9
intake-esm>=2025.12.12
nc_time_axis>=1.4.1
#scikit-learn
fsspec[gcs]>=2026.4.0
tqdm>=4.68.2
seaborn>=0.13.2
#xesmf
requests>=2.34.2
aiohttp>=3.14.1
gcsfs